<!DOCTYPE html>

<%- include('../partials/head', {hojasDeEstilo: ["forms"] })%>

<body>
    <%- include('../partials/header') %>
    <main class="align">

        <div class="login">

            <section class="login__header">
                <h2>Ingresa a tu cuenta</h2>
            </section>

            <form action="/" class="login__form" method="get">

                <div>
                    <label for="email">Ingresa tu em@il</label>
                    <input type="email" id="email" name="email" placeholder="">
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="">
                </div>

                <div>
                    <input class="button" value="Ingresar" type="submit">
                </div>
            </form>
                <div>
                   <a class="button_register" href="register"><input class="button" value="Crear cuenta" type="submit"></a> 
                </div>
            
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>