.table{
    border-radius: 0px 0px 10px 10px;
    border-right: solid 2px #000;
    border-left: solid 2px #000;
}
.columns{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align: center;
}
.columns > span{
    background-color: #166e91;
    color: #fff;
    width: 25%;
    font-size: 1.5rem;
    padding: 10px 0px;
    border-bottom: solid 2px #000;

}


.rows{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align:center;
}
.rows > span{
    border-bottom: solid 2px #000;
    width: 25%;
    padding-top: 5px;
    padding: 10px 0px;

}
