
.columns{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align: center;
}
.columns > span{
    background-color: #166e91;
    color: #fff;
    width: 25%;
    border: 2px solid #000;
    font-size: 1.5rem;
}


.rows{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align:center;
}
.rows > span{
    border: 2px solid #000;
    width: 25%;
    padding-top: 5px;
}
