<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mizu - Carrito de Compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/carrito.css">
    <link rel="stylesheet" href="./css/normalize.css">

</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" width="150" alt="Logo1">
            </a>
        </div>

        <div class="tituloCarrito">
            <h4>Mi Carrito</h4>
            <h4>3 Productos</h4>
        </div>

    </header>
    <main>
        <div class="body">
            <section class="articulos">
                <article class="articulo">
                    <div class="articuloPrinc">
                        <div class="imgProducto">
                            <img src="images/275092.webp" width="75px" alt="Producto1">
                        </div>
                        <div class="detalleProducto">
                            <h5 class="nombreProducto">
                                Pelota Chuckit
                            </h5>
                            <p class="descProducto">Descripcion producto</p>
                            <div class="cantProducto">
                                <i class="fas fa-minus"></i>
                                <p class="numerocantidad"> 2 </p>
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                        <div class="precio">
                            $2.810,00
                        </div>
                    </div>
                    <div class="footerProducto">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                </article>

                <article class="articulo">
                    <div class="articuloPrinc">
                        <div class="imgProducto">
                            <img src="images/275286.webp" width="75px" alt="Producto2">
                        </div>
                        <div class="detalleProducto">
                            <h5 class="nombreProducto">
                                Pelota Dental
                            </h5>
                            <p class="descProducto">Marca Puppis</p>
                            <div class="cantProducto">
                                <i class="fas fa-minus"></i>
                                <p class="numerocantidad"> 2 </p>
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                        <div class="precio">
                            $1.847,00
                        </div>
                    </div>
                    <div class="footerProducto">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                </article>

                <article class="articulo">
                    <div class="articuloPrinc">
                        <div class="imgProducto">
                            <img src="images/138004-138005.webp" width="75px" alt="Producto3">
                        </div>
                        <div class="detalleProducto">
                            <h5 class="nombreProducto">
                                Alimento Eukanuba Active
                            </h5>
                            <p class="descProducto">Perro mediano grande 15Kg</p>
                            <div class="cantProducto">
                                <i class="fas fa-minus"></i>
                                <p class="numerocantidad"> 1 </p>
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                        <div class="precio">
                            $9.787,00
                        </div>
                    </div>
                    <div class="footerProducto">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                </article>



            </section>
            <section class="resumen">
                <div>
                    <p class="titulo_resumen">Resumen de compra</p>
                </div>
                <div class="resumen_detalle">
                    <div>
                        <span class="nombre">Subtotal</span>
                        <span class="monto">$14.494,00</span>
                    </div>
                    <div>
                        <span class="nombre">Envio</span>
                        <span class="monto">$1.250,00</span>
                    </div>
                    <div>
                        <span class="nombre_total">Total</span>
                        <span class="monto_total">$15.694,00</span>
                    </div>
                </div>
                <section>
                    <a class="botoncompra" href="/">
                        <button type="submit" class="botonFinalizarCompra_769">Finalizar
                            Compra</button>
                    </a>

                </section>


        </div>

        </section>
        <div class="contenedor_envio">
            <div>
                <section class="envio">
                    <div>Lugar de Envio:</div>
                    <div>Malabia 1948 - Boulogne</div>
                </section>

                <section class="total">
                    <div>Total a Pagar con Envio:</div>
                    <div>$ 15.694,00</div>
                </section>
                <section>
                    <a class="botoncompra" href="/">
                        <button type="submit" class="botonFinalizarCompra">Finalizar
                            Compra</button>
                    </a>


                </section>
            </div>
        </div>



    </main>

    <footer>
        <div class="footer">
            <article>
                <div class="footer-icon">
                    <i class="fa fa-comment"></i>
                </div>
                <strong>Contactanos en</strong>
                <p>@mizu.petshop</p>
                <p>mizu.petshop@gmail.com</p>
            </article>
            <article>
                <div class="footer-icon">
                    <i class="fa fa-truck"></i>
                </div>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mizu Petshop tenés envíos gratis en la mayoría de los productos. Es
                    un beneficio de Mizu Points</p>
            </article>
            <article>
                <div class="footer-icon">
                    <i class="fa fa-user-shield"></i>
                </div>
                <strong>Servicio al consumidor</strong>
                <p>¿No te llego en condiciones? ¡Devolvelo! En Mizu Petshop, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </article>
        </div>


    </footer>




</body>

</html>