<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="/css/detalle.css" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="producto">
            <img src="/images/KongRojo.jpg">
            <div class="info">
                <h3>Kong - Classic Portapasabocas</h3>
                <div class="marca-stars">
                    <p><u>Marca: Kong</u></p>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                </div>
                <h2><u>$90.000</u></h2>
                <p>Disponivilidad: <i class="fa fa-check"></i></p>
                <h3>Referencia</h3>
                <div class="referencia">
                    <input type="checkbox" class="slectOne" value="xxl" id="xxl">
                    <label for="xxl">XXL </label>
                    <input type="checkbox" class="slectOne" value="xl" id="xl">
                    <label for="xl">XL </label>
                </div>
            </div>
        </div>
        <div class="detalle">
            <h3>Detalles del producto</h3>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere temporibus placeat reiciendis voluptatibus iste reprehenderit voluptas minus dicta recusandae! Possimus suscipit beatae dolor animi nam voluptas minima adipisci incidunt ratione!</p>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>