<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="top-header__menus">
                <div class="top-header__menus-burger">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="top-header__menus-adress">
                    <p>Agregar dirección<i class="fa-solid fa-sort-down"></i></p>
                </div>
            </div>
            <div class="top-header__buttons">
                <div class="top-header__buttons-login">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="top-header__buttons-cart">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="bottom-header__logo">
                <a href="/"><img src="/images/logo.png"></a>
            </div>
            <div class="bottom-header__search-bar">
                <form action="/" method="GET">
                    <input type="text" placeholder="¿Qué necesita tu mascota?">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <nav>
            <ul class="site-bar">
                <li class="control-site-bar">
                    <p>Mascotas</p>
                    <ul class="site-bar-pets">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar">
                    <p>Marcas</p>
                    <ul class="site-bar-brands">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar"><a href="#">
                        <p>Ofertas</p>
                    </a></li>
                <li class="control-site-bar">
                    <p>Servicios</p>
                    <ul class="site-bar-services">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar"><a href="#">
                        <p>Sucursales</p><i class="fa-solid fa-location-dot"></i>
                    </a></li>
                <li class="control-site-bar"><a href="#">
                        <p>Sobre nosotros</p><i class="fa-solid fa-family"></i>
                    </a></li>
            </ul>
        </nav>
    </header>
    <main class="align">

        <div class="login">

            <section class="login__header">
                <h2>Ingresa a tu cuenta</h2>
            </section>

            <form action="/" class="login__form" method="get">

                <div>
                    <label for="email">Ingresa tu em@il</label>
                    <input type="email" id="email" name="email" placeholder="">
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="">
                </div>

                <div>
                    <input class="button" value="Ingresar" type="submit">
                </div>
                <div>
                    <input href="/proyecto/views/register.html" class="button" value="Crear cuenta" type="submit">
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            <article>
                <div class="footer-icon">
                    <i class="fa-solid fa-comment-sms"></i>
                </div>
                <strong>Contactanos en</strong>
                <p>@mizu.petshop</p>
                <p>mizu.petshop@gmail.com</p>
            </article>
            <article>
                <div class="footer-icon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mizu Petshop tenés envíos gratis en la mayoría de los productos. Es un
                    beneficio de Mizu Points</p>
            </article>
            <article>
                <div class="footer-icon">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <strong>Servicio al consumidor</strong>
                <p>¿No te llego en condiciones? ¡Devolvelo! En Mizu Petshop, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </article>
        </div>
        <p class="copyright">Copyright © 2021-2022 Mizu Petshop S.R.L.</p>
    </footer>
</body>