main{
    padding-top: 120px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    margin: 10px;
    padding: 10px 20px;
    background-color: #166e91;
    border-style: none;
    border-radius: 5px;
    color: #FFF;
}

.button:hover{
    background-color: #8fd4d2;
}

.producto{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    background-color: #166e91;
    border: solid 2px #000;
    border-radius: 10px;
}
.producto .Nombre{
    font-size: 1.2rem;
}

.producto .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    height: 40vh;
}

.producto img{
    border: solid 2px #000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.producto .marca-stars{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.producto .info .marca-stars p{
    margin-right: 6vw;
}

.detalle{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.button_buy{
    margin: 10px;
    padding: 10px 20px;
    background-color: #28a72ec0;
    border: solid 1px #000;
    border-radius: 5px;
    color: #FFF;
}
.button_buy:hover{
    background-color: #0ed418;
}

@media (min-width: 768px) {
    main{
        padding-top: 200px;
    }

    .producto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0px;
    }

    .producto img{
        width: 20%;
    }

    .producto .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        justify-content: space-around;
        align-self: stretch;
    }
    .producto .info .marca-stars p{
        margin-right: 2vw;
    }

    .detalle{
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .detalle h3{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    main{
        padding-top: 200px;
    }
}