/* ---------- Login ---------- */
* {
  box-sizing: flex;
}

main {
  background-color: #d8d8d8;
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  margin: 0;
  padding-top: 170px;
}

h2 {
  font-size: 25px;
}

input {
  background-image: none;
  border: none;
  font-size: 15px;
  margin: 0;
  padding: 5px;
  transition: all 0.3s;
  align-items: flex-end;
}

.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border: solid #ec0e21 3px;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px;
  margin-top: 20px;
}

/* ---------- Button ---------- */

.button {
  background-color: #166e91;
  color: #fff;
  padding: 10px 20px;
}

.button:hover {
  background-color: #8fd4d2;
}

/* ---------- Text ---------- */
.login {
  width: 60%;
  margin: 0 auto;
}

.login__header {
  background-color: #166e91;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  padding: 15px 20px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.login h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 15px;
}

.login input {
  border-radius: 5px;
}

.login input[type="email"],
.login input[type="password"] {
  background-color: #eee;
  color: gray;
  padding: 4px 5px;
  width: 90%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.insideForm {
  display: flex;


}

/* ----------Register-------------- */

.register {
  width: 90%;
  margin: 0 auto;
}

.register h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 0px 15px 50px;
}

.register input {
  border-radius: 5px;
}

.register input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.register input[name="nameProduct"],
.register input[name="imageProduct"],
.register input[name="typeProduct"],
.register input[name="brandProduct"],
.register input[name="priceProduct"] {
  background-color: #eee;
  color: gray;
  padding: 10px 10px;
  width: 90%;
  margin-bottom: 10px;
  margin-right: 20px;
}


.register textarea[name="descriptionProduct"] {
  background-color: #eee;
  color: gray;
  padding: 10px 10px;
  width: 90%;
  height: 100px;
  border: none;
  font-size: 15px;
  font-family: 'Quicksand';
  resize: none;
  margin-bottom: 10px;


}

.register select {
  background-color: #eee;
  color: gray;
  padding: 10px 10px;
  width: 90%;
  border: none;
  font-size: 15px;
  font-family: 'Quicksand';
  margin-bottom: 10px;

}

.register input[name="imageProduct"],

.button_bck_home,
.button_register {
  text-decoration: none;
}

.inputs {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 20px;
}

.image_edit_big {
  display: none;
}

.image_edit {
  align-items: center;
}

input::placeholder,
textarea::placeholder {
  color: lightgray;
  font-size: 1em;
  font-style: italic;
}

@media (min-width: 768px) {
  main{
    padding-top: 250px;
  }


  .image_edit_big {
    display: flex;
  }

  #imgproductbig {
    width: 30vw;
    margin-top: 50px;
    border: solid 1px black;
  }

  .inputs {
    width: 50%;
  }

  .image_edit {
    display: none;
  }


}