/* ---------- Login ---------- */
* {
  box-sizing: flex;
}

main {
  background-color: #d8d8d8;
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  margin: 0;
  padding-top: 170px;
}

h2 {
  font-size: 25px;
}

input {
  background-image: none;
  border: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

/* ---------- Button ---------- */

.button {
  background-color: #166e91;
  color: #fff;
  padding: 5px 20px;
}

.button:hover {
  background-color: #8fd4d2;
}

/* ---------- Text ---------- */
.login {
  width: 60%;
  margin: 0 auto;
}

.login__header {
  background-color: #166e91;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  padding: 15px 20px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.login h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 15px;
}

.login input {
  border-radius: 5px;
}

.login input[type="email"],
.login input[type="password"] {
  background-color: #eee;
  color: gray;
  padding: 4px 5px;
  width: 90%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.text-danger {
  color: red;
  font-weight: bold
}

/* ----------Register-------------- */

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #166e91;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#avatar::before {
  content: 'Seleccionar Archivo';
}

.register {
  width: 60%;
  margin: 0 auto;

}

.register h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 15px;
}

.register input {
  border-radius: 5px;
}

.register input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.register input[type="number"] {
  background-color: #eee;
  color: gray;
  padding: 4px 5px;
  width: 90%;
}

.button_bck_home,
.button_register {
  text-decoration: none;
}

.tabla_usuarios {
  width: 100%;

}

.buttons a {
  text-decoration: none;
  color: #166e91;
  margin-left: 5px;
}

.buttons a :hover {
  color: #fff;
}

.enc_tabla_usuarios {
  background-color: #166e91;
  color: white
}

.fila_tabla_usuarios {
  padding: 10px;
  margin-bottom: solid, 1px, gray;
}

.buttons {
  display: flex;
  justify-content: center;

}

.userView {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.button {

  background-color: #166e91;
  border-style: none;
  border-radius: 5px;
  color: #FFF;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  font-size: 15px;
}

#button2 {

  background-color: #166e91;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
  margin: 10px;
  font-size: 15px;
}


.button:hover {
  background-color: #8fd4d2;
}

.button2:hover {
  background-color: #8fd4d2;
}

.view_update {

  display: flex;
  justify-content: space-evenly;
}

.combo_categoria {

  padding: 4px 5px;
  background-color: #eee;
  border-style: none;
  border-radius: 5px;
  color: grey;
  border: none;
  width: 90%;
}

input::placeholder {
  color: lightgray;
  font-size: 1em;
  font-style: italic;
}

@media (min-width: 768px) {
  main {
    padding-top: 250px;
  }
}

@media (min-width: 1280px) {
  main {
    padding-top: 270px;
  }
}