/* ---------- Login ---------- */
* {
  box-sizing: flex; 
}

main {
  background-color: #d8d8d8;
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  margin: 0;
  padding-top: 50px;
}

h2 {
  font-size: 25px;
}

input {
  background-image: none;
  border: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
/* ---------- Button ---------- */

.button {
  background-color: #166e91;
  color: #fff;
  padding: 5px 20px;
}

.button:hover {
  background-color: #8fd4d2;
}

/* ---------- Text ---------- */
.login {
  width: 60%;
  margin: 0 auto;
}

.login__header {
  background-color: #166e91;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  padding: 15px 20px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.login h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 15px;
}

.login input {
  border-radius: 5px;
}

.login input[type="email"],
.login input[type="password"] {
  background-color: #eee;
  color: gray;
  padding: 4px 5px;
  width: 90%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* ----------Register-------------- */

.register {
  width: 60%;
  margin: 0 auto;
}

.register h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #777;
  display: grid;
  padding: 15px 15px;
}

.register input {
  border-radius: 5px;
}

.register input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.register input[type="name"],
.register input[type="lastname"],
.register input[type="number"],
.register input[type="email"],
.register input[type="password"],
.register input[type="species"],
.register input[type="age"]{
  background-color: #eee;
  color: gray;
  padding: 4px 5px;
  width: 90%;
}

.button_bck_home,
.button_register {
  text-decoration: none;
}
