<header>
    <div class="top-header">
        <div class="top-header__menus">
            <div class="top-header__menus-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="top-header__menus-adress">
                <p>Agregar dirección</p><i class="fa-solid fa-sort-down flecha"></i>
            </div>
        </div>
        <div class="top-header__buttons">
            <div class="top-header__buttons-login">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="top-header__buttons-cart">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="bottom-header__logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>
        <div class="bottom-header__search-bar">
            <form action="/" method="GET">
                <input type="text" placeholder="¿Qué necesita tu mascota?">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
        <nav>
            <ul class="site-bar">
                <li class="control-site-bar"><p>Mascotas</p>
                    <ul class="site-bar-pets">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar"><p>Marcas</p>
                    <ul class="site-bar-brands">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar"><a href="#"><p>Ofertas</p></a></li>
                <li class="control-site-bar"><p>Servicios</p>
                    <ul class="site-bar-services">

                    </ul>
                    <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="control-site-bar"><a href="#"><p>Sucursales</p><i class="fa-solid fa-location-dot"></i></a></li>
                <li class="control-site-bar"><a href="#"><p>Familia Mizu</p><i class="fa-solid fa-people-group"></i></a></li>
            </ul>
        </nav>
</header>