<footer>
    <div class="footer">
        <article>
            <div class="footer-icon">
                <i class="fa-solid fa-comment-sms"></i>
            </div>
            <strong>Contactanos en</strong>
            <p>@mizu.petshop</p>
            <p>mizu.petshop@gmail.com</p>
        </article>
        <article>
            <div class="footer-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mizu Petshop tenés envíos gratis en la mayoría de los productos. Es un beneficio de Mizu Points</p>
        </article>
        <article>
            <div class="footer-icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <strong>Servicio al consumidor</strong>
            <p>¿No te llego en condiciones? ¡Devolvelo! En Mizu Petshop, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
    </div>
    <p class="copyright">Copyright © 2021-2022 Mizu Petshop S.R.L.</p>
</footer>