<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/alertify.css">
    <link rel="stylesheet" href="/css/themes/default.css">
    <script src="/js/alertify.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>-->


    <% for(let i=0; i < hojasDeEstilo.length; i++){ %>
        <link rel="stylesheet" href="/css/<%= hojasDeEstilo[i] %>.css" />
        <% } %>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
            <title>Bienvenidxs a Mizu Petshop</title>
</head>