<header>
    <div class="top-header">
        <div class="top-header__menus">
            <div class="top-header__menus-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="top-header__menus-adress">
                <p>Agregar dirección</p><i class="fa-solid fa-sort-down flecha"></i>
            </div>
        </div>
        
        <div class="top-header__buttons">
        </div>
        <%if (locals.islogged) {%>
            
            <div class="top-header__buttons-user">
                <div style="display: flex">
                    <img src="/images/userImages/<%=locals.userLogged.images%>" width="30" style="width: 50px; height: 50px; border-radius: 50%">
                    <p style="margin-left: 10px; color: white">Hola, <%=locals.userLogged.first_name %>
                    </p>
                </div>
        </div>
        <div class="top-header__buttons">
            <div class="top-header__buttons-login">
                <a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
            
            <div class="top-header__buttons-cart">
                <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            
            <%if (locals.userLogged.category_user=='admin' ) {%>
                
                <div class="top-header__buttons-login">
                    <a href="/users/list"><i class="fa-solid fa-list"></i></i></a>
                </div>
                <% } %>
                        <% } else {%>
                            <div class="top-header__buttons">
                                <div class="top-header__buttons-login">
                                    <a href="/users/login"><i class="fa-solid fa-user"></i><div style="padding-left:5px">Login</div></a>
                                </div>

                                <% } %>


                            </div>
            </div>
            <div class="bottom-header">
                <div class="bottom-header__logo">
                    <a href="/"><img src="/images/logo.png"></a>
                </div>
                <div class="bottom-header__search-bar">
                    <form action="/" method="GET">
                        <input type="text" placeholder="¿Qué necesita tu mascota?">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

            </div>
            <nav>
                <ul class="site-bar">
                    <li class="control-site-bar">
                        <p>Mascotas</p>
                        <ul class="site-bar-pets">

                        </ul>
                        <i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="control-site-bar">
                        <p>Marcas</p>
                        <ul class="site-bar-brands">

                        </ul>
                        <i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="control-site-bar"><a href="#">
                            <p>Ofertas</p>
                        </a></li>
                    <li class="control-site-bar">
                        <p>Servicios</p>
                        <ul class="site-bar-services">

                        </ul>
                        <i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="control-site-bar"><a href="#">
                            <p>Sucursales</p><i class="fa-solid fa-location-dot"></i>
                        </a></li>
                    <li class="control-site-bar"><a href="#">
                            <p>Familia Mizu</p><i class="fa-solid fa-people-group"></i>
                        </a></li>
                </ul>
            </nav>
</header>