<!DOCTYPE html>

<%- include('../partials/head', {hojasDeEstilo: ["forms"] })%>

    <body>
        <%- include('../partials/header') %>
            <main class="align">

                <div class="login">

                    <section class="login__header">
                        <h2>Ingresa a tu cuenta</h2>
                    </section>
                    <section id="formulario-login">
                    <form action="/users/login" class="login__form" method="POST">

                        <div>
                            <p><label for="email">Ingresa tu em@il</label></p>
                            <input type="email" id="email" name="email" data-nombre="email">
                            <br>
                        <span></span>
                        </div>
                        
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>

                                <div>
                                    <p><label for="password">Contraseña</label></p>
                                    <input type="password" id="password" name="password" data-nombre="password">
                                    <br>
                                    <span></span>
                                </div>

                                <div>
                                    <label>Recordar</label>
                                    <input type="checkbox" name="chkRecordame">
                                </div>

                                <div>
                                    <input class="button" value="Ingresar" type="submit">
                                </div>
                    </form>
                    <div>
                        <a class="button_register" href="register"><input class="button" value="Crear cuenta" type="submit"></a>
                    </div>

                </div>
            </section>
            </main>
            <%- include('../partials/footer') %>
            <script src="/js/userLoginValidation.js"></script>
    </body>