<!DOCTYPE html>
<%- include('../partials/head', {hojasDeEstilo: ["forms"] })%>
<body>
    <%- include('../partials/header') %>
    <main class="align">
        <div class="register">
          <section class="login__header">
            <h2>Crea tu cuenta</h2>
          </section>
          <form action="/users/register" class="login__form" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" placeholder="">
              </div>
        
              <div>
                <label for="lastname">Apellido</label>
                <input type="text" id="lastname" name="lastname" placeholder="">
              </div>
              <div>
                <label for="email">Ingresa tu em@il</label>
                <input type="email" id="email" name="email" placeholder="">
              </div>
              <div>
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" placeholder="">
              </div>
      
            <div>
              <label for="password">Contraseña</label>
              <input type="password" id="password" name="password" placeholder="">
            </div>
            <div>
              <label for="avatar">Avatar</label>
              <input type="file" id="avatar" name="avatar" placeholder="">
            </div>
    
            <section>
                <h3>Queremos saber de tus mascotas</h3>
            </section>
              <div>
                <label for="species">Especie</label>
                <input type="text" id="species" name="species" placeholder="">
              </div>
              <div>
                <label for="age">Edad</label>
                <input type="number" id="age" name="age" placeholder="">
              </div>
              <div>
                <input class="button"  value="Agregar Mascota" type="submit"> 
              </div>
              <div>
                <input class="button"  value="Crear cuenta" type="submit"> 
              </div>
          </form>
          <div>
            <a href="/" class="button_bck_home"><input class="button"  value="Volver a la tienda" type="submit"></a> 
          </div>
        </main>
        <%- include('../partials/footer') %>
</body>